.nav {
    display: flex;
    gap: 20px;        
    list-style: none; 
    padding: 0;
    margin: 0;
}

.nav a {
    text-decoration: none;
}

.root {
    --color-white: #fff;
    --color-primary:#7fa1c3;
    --color-black: #000;
    --color-danger: #c80036;
    --color-grey: #5c5c5e;
    --color-grey-light: #dcdcdc;
}

.btn-primary {
    background-color: var(--color-primary);
    border: none;
}

.btn-primary:hover {
    background-color: var(--color-primary);
    opacity: 0.9;
}

.btn-danger {
    background-color: var(--color-danger);
    color: var(--color-white);
}
.btn-cancle {
    background-color: var(--color-danger);
    color: var(--color-white);
}

.rounded-sm {
    border-radius: 4px;
}
.rounded-md {
    border-radius: 8px;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #7fa1c3 !important;
    border-color: #7fa1c3 !important;
    color: white !important;
}

.btn-primary:hover {
    opacity: 0.9 !important;
}
